
/*/--------------------------------------------*/

.sidebar{
    position: fixed;
    width: 20%;
    height: 100%;
    left: 0;
    background: #000000;
    transition: left 0.4s;
    overflow: auto;
  
}

.sidebar .text{
   
    font-size: 2vw; 
    line-height: 70px;
    text-align: center;
    display: block;
   
    
  } 

.sidebar .sidebar-ul{
    background: #141414;
    height: 100%;
    width: 100%;
    list-style: none;
}

.sidebar .sidebar-ul li{
    line-height: 50px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.sidebar .sidebar-ul li a{
    position: relative;
    color: #e6e6e6;
    text-decoration: none;
    
    font-size: 1.3vw;
    padding-left: 10px;
    
    display: block;
    overflow: wrap;
    width: auto;
    border-left: 3px solid transparent;
}

.sidebar .sidebar-ul li a:hover{
    color: #3d64b9;
    background: #1e1e1e;
    border-left-color: #3d64b9;
}

.sidebar .sidebar-ul ul{
    position: static;
    display: none;
}

/*Js cambio de clases para mostrar los submenu*/
.sidebar .sidebar-ul .layouts-show.show{
    display: block;
}
.sidebar .sidebar-ul .tipog-show.show{
    display: block;
}
.sidebar .sidebar-ul .utilidades-show.show{
    display: block;
}
.sidebar .sidebar-ul .components-show.show{
    display: block;
}

.sidebar .sidebar-ul ul li{
    line-height: 35px;
    border-bottom: none;  
}

.sidebar .sidebar-ul ul li a{
    font-size: 1.1vw;
    color: #e6e6e6;
    padding-left: 1.5%;
}



